/* common styles / utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #fff;
  width: 870px;
  /* margin: 0 auto; */
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

hr {
  border: 1px solid #ddd;
}
/* top players style*/
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
}

.player {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-img {
  width: 56px;
  height: 56px;
}

.player-name {
  font-weight: 500;
  font-size: 18px;
}

/* top blogs style */
.top-blogs {
  margin-top: 30px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

.blog {
  display: flex;
  gap: 16px;
}

.blog-img {
  width: 177px;
  height: 117px;
}

.blog-title {
  font-weight: 500;
  font-size: 20px;
}

.blog-author {
  font-size: 16px;
  font-weight: 400;
  color: #562eff;
}

.by {
  color: #9f9f9f;
}

/* Section Latest Course style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.course {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 8px;
}

.course-img {
  width: 224px;
  height: 104px;
  margin-bottom: 20px;
}

.course-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.course-instructor {
  font-weight: 400;
  font-size: 16px;
  color: #ed6b4f;
  margin-bottom: 20px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-star {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
.rating {
  color: #a2a2a2;
  font-weight: 400;
  font-size: 14px;
}

.fa-clock {
  margin-right: 6px;
}

.course-duration {
  background-color: #ffe4e8;
  border-radius: 15px;
  padding: 5px 10px;
  color: #ff4a60;
  font-size: 14px;
  font-weight: 600;
}
